extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container.mobile-wrapper-for-sh-strengths
	.container.description-block
		.item
			span Поликс Групп - #[span(class="mobile")] Ваш надежный партнер
		.item
			span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		.item
			span.red Разработка комплекта чертежей КМД бесплатно
			span Заключите с нами договор до #[div(class="string")] 1 марта 2020 года и получите БЕСПЛАТНУЮ разработку проектной документации
			a(href="javascript:;" onclick="modalFreeKM(); return false;" class="fancybox") Отправить Заявку

		.description-bottom-block
			.description-item
				span 10
				span.lit-span лет
				span.bot-span Успешной работы на рынке России
			.description-item
				span 430
				span.lit-span
				span.bot-span Выполненных заказов
			.description-item
				span 130
				span.lit-span т#[span(class="mobile-vis lit-span") /мес]
				span.bot-span #[span(class="mobile-hide bot-span") металлокнструкций] #[span(class="mobile-vis bot-span") продукции] производим #[span(class="mobile-hide bot-span bot-span-2") ежемесячно]
			.description-item
				span 0.12
				span.lit-span %
				span.bot-span Брака при производстве

	.container.production-block
		h2 Наша продукция
		.grid-block
			.grid-item(style="background:center / cover url(images/grid-bag-1.jpg) no-repeat;")
				span.heading Колонны
				.hover-block
					span от #[span(class="big") 80 000] руб
					a.btn-order(href="javascript:;" onclick="modalProduct(); return false;" class="fancybox") Заказать
					a(href="#").btn-details Подробнее

			.grid-item(style="background:center / cover url(images/grid-bag-2.jpg) no-repeat;")
				span.heading Балки
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее

			.grid-item(style="background:center / cover url(images/grid-bag-3.jpg) no-repeat;")
				span.heading Прогоны / связи
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-4.jpg) no-repeat;")
				span.heading Фермы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее

			.grid-item(style="background:center / cover url(images/grid-bag-5.jpg) no-repeat;")
				span.heading Настилы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-6.jpg) no-repeat;")
				span.heading Лестницы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-7.jpg) no-repeat;")
				span.heading Рекламные конструкции
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-8.jpg) no-repeat;")
				span.heading Закладные детали
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-9.jpg) no-repeat;")
				span.heading Анкерные группы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-9.jpg) no-repeat;")
				span.heading Колонны
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-11.jpg) no-repeat;")
				span.heading Колесоотбойники
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(images/grid-bag-12.jpg) no-repeat;")
				span.heading Спецзаказы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
	.container.services-block
		.left-item
			h2 Услуги Поликс Групп
			.arrow-block
				span спецпредложение
				span только до 1 марта 2020г
		.responsive
			.slice-item
				img.icon(src="img/icon-1.svg", alt="icon")
				span #[span(class="red") Бесплатная] разработка комплекта чертежей КМД
				a.arrow-link(href="javascript:;" onclick="modalFreeKM(); return false;" class="fancybox") заказать
			.slice-item
				img.icon(src="img/icon-2.svg", alt="icon")
				span #[span(class="red") Бесплатная] анализ вашей проектной документации
				a.arrow-link(href="javascript:;" onclick="modalDoc(); return false;" class="fancybox") заказать
			.slice-item
				img.icon(src="img/icon-3.svg", alt="icon")
				span #[span(class="red") Бесплатная] выезд замерщика 
				a.arrow-link(href="javascript:;" onclick="modalOrder(); return false;" class="fancybox") отправить заявку
	.container.project-block
		h2 Реализованные проекты
		.responsive-2
			.item(style="background:center / cover url(images/slick-1.jpg) no-repeat;")
				.content-block
					p.client Клиент
					span.name Салон Mercedes-Benz в Раменском
					ul.work
						li Производство
						li Монтаж
					.time Срок: 4 месяца
					a.review(href="javascript:;" onclick="modalReview(); return false;" class="fancybox") Отзыв клиента
			.item(style="background:center / cover url(images/slick-2.jpg) no-repeat;")
				.content-block
					p.client Клиент
					span.name Офис Philip Morris на Павловской
					ul.work
						li Производство
						li Монтаж
					.time Срок: 11 месяца
					a.review(href="javascript:;" onclick="modalReview(); return false;" class="fancybox") Отзыв клиента
			.item(style="background:center / cover url(images/slick-1.jpg) no-repeat;")
				.content-block
					p.client Клиент
					span.name Салон Mercedes-Benz в Раменском
					ul.work
						li Производство
						li Монтаж
					.time Срок: 4 месяца
					a.review(href="javascript:;" onclick="modalReview(); return false;" class="fancybox") Отзыв клиента
			.item(style="background:center / cover url(images/slick-1.jpg) no-repeat;" class="mobile-hide")
				.content-block
					p.client Клиент
					span.name Салон Mercedes-Benz в Раменском
					ul.work
						li Производство
						li Монтаж
					.time Срок: 4 месяца
					a.review(href="javascript:;" onclick="modalReview(); return false;" class="fancybox") Отзыв клиента
			.item(style="background:center / cover url(images/slick-1.jpg) no-repeat;" class="mobile-hide")
				.content-block
					p.client Клиент
					span.name Салон Mercedes-Benz в Раменском
					ul.work
						li Производство
						li Монтаж
					.time Срок: 4 месяца
					a.review(href="javascript:;" onclick="modalReview(); return false;" class="fancybox") Отзыв клиента
			.item(style="background:center / cover url(images/slick-1.jpg) no-repeat;" class="mobile-hide")
				.content-block
					p.client Клиент
					span.name Салон Mercedes-Benz в Раменском
					ul.work
						li Производство
						li Монтаж
					.time Срок: 4 месяца
					a.review(href="javascript:;" onclick="modalReview(); return false;" class="fancybox") Отзыв клиента
			.item(style="background:center / cover url(images/slick-1.jpg) no-repeat;" class="mobile-hide")
				.content-block
					p.client Клиент
					span.name Салон Mercedes-Benz в Раменском
					ul.work
						li Производство
						li Монтаж
					.time Срок: 4 месяца
					a.review(href="javascript:;" onclick="modalReview(); return false;" class="fancybox") Отзыв клиента
	svg.progress-ring(width="24" height="24")
		circle.progress-ring__circle(stroke="#2A68FB" stroke-width="2" cx="12" cy="12" r="8" fill="transparent") 	
	.brand-block
		.container
			.responsive-3
				.item
					img(src="img/br-1.svg", alt="brand")
				.item
					img(src="img/br-2.svg", alt="brand")
				.item
					img(src="img/br-3.svg", alt="brand")
				.item
					img(src="img/br-4.svg", alt="brand")
				.item
					img(src="img/br-2.svg", alt="brand")
			h2 Нам доверяют лидеры 
	.container.production-block-2
		.left-block
			h2 Производство Поликс Групп
			span Производство на нашем предприятии сегодня — это гарантия долговечности ваших объектов в будущем.
		.center-block
			img(src="images/pr-1.jpg", alt="img")
		.right-block
			.description-item
				span 1400
				span.lit-span м
				span.bot-span #[span(class="mobile-hide") Площадь] производственных площадей
			.description-item
				span 250
				span.lit-span т./мес
				span.bot-span #[span(class="mobile-hide") Рассчетные] производственные мощности предприятия
			.description-item
				span 120
				span.bot-span Сертфецированных сотрудников #[span(class="mobile-hide") со стажем работы от 5 лет] 
	.container.map-block
		.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d71569.3073398865!2d37.4144512!3d55.9053218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5490aea6a1a1f%3A0x9bda8d6849ba0587!2z0J7RhNC40YbQuNCw0LvRjNC90YvQuSDQtNC40LvQtdGAIEZPVE9OINCY0JzQn9CV0KDQmNCv!5e0!3m2!1sru!2sru!4v1581606323324!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			.info-block
				.info-wrap
					.item
						p.name Главный офис
						span МО, г. Химки, 74-й км МКАД владение 5, офис 205
					.item
						p.name Телефон
						a(href="tel:+7 (495) 925-16-61") +7 (495) 925-16-61
					.item
						p.name Email
						a(href="mailto:zakaz@polixstroi.ru") zakaz@polixstroi.ru
		.from-block
			h2 Получить индивидуальное предложение
			form
				.form-input
					input(type="text" placeholder="Имя")
				.form-input
					input(type="text" placeholder="Телефон или email")
				.form-input.form-button
					input(type="button" value="отправить заявку")
	.container.disclaimer
		img(src="img/car.svg", alt="car")
		span Компания PolixGroup осуществляет досатвку продукции на объекты строительства. Условия и стоимость доставки уточняйте у наших менеджеров
		
				
	
