extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container.mobile-wrapper-for-sh-strengths
	.container.description-block
		.item
			span Поликс Групп - #[span(class="mobile")] Ваш надежный партнер
		.item
			span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		.item
			span.red Разработка комплекта чертежей КМД бесплатно
			span Заключите с нами договор до #[div(class="string")] 1 марта 2020 года и получите БЕСПЛАТНУЮ разработку проектной документации
			a(href="#") Отправить Заявку

		.description-bottom-block
			+description-item('10','лет', 'Успешной работы на рынке России',false)
			+description-item('430','', 'Выполненных заказов',false)
			+description-item('130','т', 'металлокнструкций производим ежемесячно', true)
			+description-item('0.12','%', 'Брака при производстве',false)

	.container.production-block
		h2 Наша продукция
		.grid-block
			.grid-item(style="background:center / cover url(../../images/grid-bag-1.jpg) no-repeat;")
				span.heading Колонны
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее

			.grid-item(style="background:center / cover url(../../images/grid-bag-2.jpg) no-repeat;")
				span.heading Балки
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее

			.grid-item(style="background:center / cover url(../../images/grid-bag-3.jpg) no-repeat;")
				span.heading Прогоны / связи
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-4.jpg) no-repeat;")
				span.heading Фермы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее

			.grid-item(style="background:center / cover url(../../images/grid-bag-5.jpg) no-repeat;")
				span.heading Настилы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-6.jpg) no-repeat;")
				span.heading Лестницы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-7.jpg) no-repeat;")
				span.heading Рекламные конструкции
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-8.jpg) no-repeat;")
				span.heading Закладные детали
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-9.jpg) no-repeat;")
				span.heading Анкерные группы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-9.jpg) no-repeat;")
				span.heading Колонны
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-11.jpg) no-repeat;")
				span.heading Колесоотбойники
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
			
			.grid-item(style="background:center / cover url(../../images/grid-bag-12.jpg) no-repeat;")
				span.heading Спецзаказы
				.hover-block
					span от #[span(class="big") 80 000] руб
					a(href="#").btn-order Заказать
					a(href="#").btn-details Подробнее
	.container.services-block
		.left-item
			h2 Услуги Поликс Групп
			.arrow-block
				span спецпредложение
				span только до 1 марта 2020г
		.responsive
			.slice-item
				img.icon(src="img/icon-1.svg", alt="icon")
				span #[span(class="red") Бесплатная] разработка комплекта чертежей КМД
				a.arrow-link(href="#") заказать
			.slice-item
				img.icon(src="img/icon-2.svg", alt="icon")
				span #[span(class="red") Бесплатная] анализ вашей проектной документации
				a.arrow-link(href="#") заказать
			.slice-item
				img.icon(src="img/icon-3.svg", alt="icon")
				span #[span(class="red") Бесплатная] выезд замерщика 
				a.arrow-link(href="#") отправить заявку