footer
  .container
    a.logo(href="#")
      img(src="img/logo.svg", alt="logo")
    span.mobile-hide © 2020 Поликс Групп
    span © 2020 Polix Group. Все права защищены
    span(href="javascript:;" onclick="modalPolit(); return false;" class="fancybox") Политика конфиденциальности  
    a.phone-link-footer(href="javascript:;" onclick="modalPhone(); return false;" class="fancybox") Заказать звонок