footer
  .container
    a.logo(href="#")
      img(src="img/logo.svg", alt="logo")
    span.mobile-hide © 2020 Поликс Групп
    span © 2020 Polix Group. Все права защищены
    span Политика конфиденциальности  
    a.phone-link-footer(href="#") Заказать звонок