header.site-header
	.sh-top
		.container
			.sh-burger
				span
			a.sh-logo(href="")
				img(src="../img/logo.svg", alt="")

			.sh-btn-count-wrap
				a.btn.btn--blue Отправить КМ на расчет

			a.sh-call-me Заказать звонок
			a.sh-phone-number + 7 (495) 925 16 61
