div(id="modalPhone" class="modal-fancy modalPhone" style="display:none")
  h3 Заказать звонок
  form
    .form-input
      input(type="text" placeholder="Имя")
    .form-input
      input(type="text" placeholder="Номер телефона")
    .check-block
      .check
        input(type="checkbox")
        b
      .text-block
        p Я принимаю условия #[a(href="#" class="link") Пользоваського соглашения]
    .form-input
      input.button(type="button" value="отправить заявку")


div(id="modalKM" class="modal-fancy modalKM" style="display:none")
  h3 Отправить КМ на расчет
  form
    .form-input
      input(type="text" placeholder="Имя")
    .form-input
      input(type="text" placeholder="Номер телефона")
    .file-input-wrap
      label.survey__file-upload
        span.wpcf7-form-control-wrap.survey-file
          input.wpcf7-form-control.wpcf7-file.survey__file(type='file' name='survey-file' size='40')

        .plus-btn-block
          .plus-btn-block-btn +
          span Прикрепить техническое задание
      .survey__file-upload-choosed
    .check-block
      .check
        input(type="checkbox")
        b
      .text-block
        p Я принимаю условия #[a(href="#" class="link") Пользоваського соглашения]
    .form-input
      input.button(type="button" value="отправить заявку")


div(id="modalFreeKM" class="modal-fancy modalFreeKM" style="display:none")
  h3 Бесплатная разработка комплекта чертежей КМД
  form
    .form-input
      input(type="text" placeholder="Имя")
    .form-input
      input(type="text" placeholder="Номер телефона")
    .form-input
      input(type="text" placeholder="Email")


    .file-input-wrap
      label.survey__file-upload
        span.wpcf7-form-control-wrap.survey-file
          input.wpcf7-form-control.wpcf7-file.survey__file(type='file' name='survey-file' size='40')

        .plus-btn-block
          .plus-btn-block-btn +
          span Прикрепить техническое задание
      .survey__file-upload-choosed


    .check-block
      .check
        input(type="checkbox")
        b
      .text-block
        p Я принимаю условия #[a(href="#" class="link") Пользоваського соглашения]
    .form-input
      input.button(type="button" value="отправить заявку")


div(id="modalOrder" class="modal-fancy modalOrder" style="display:none")
  h3 Оформление заказа
  form
    .form-input
      input(type="text" placeholder="Имя")
    .form-input
      input(type="text" placeholder="Номер телефона")
    .form-input
      input(type="text" placeholder="Email")
    .form-input
      input(type="textarea" placeholder="Комментарий")
    .check-block
      .check
        input(type="checkbox")
        b
      .text-block
        p Я принимаю условия #[a(href="#" class="link") Пользоваського соглашения]
    .form-input
      input.button(type="button" value="Заказать")

div(id="modalDoc" class="modal-fancy modalDoc" style="display:none")
  h3 Заказать бесплатный анализ вашей проектной документации
  form
    .form-input
      input(type="text" placeholder="Имя")
    .form-input
      input(type="text" placeholder="Номер телефона")
    .form-input
      input(type="text" placeholder="Email")
    .file-input-wrap
      label.survey__file-upload
        span.wpcf7-form-control-wrap.survey-file
          input.wpcf7-form-control.wpcf7-file.survey__file(type='file' name='survey-file' size='40')

        .plus-btn-block
          .plus-btn-block-btn +
          span Прикрепить техническое задание
      .survey__file-upload-choosed
    .check-block
      .check
        input(type="checkbox")
        b
      .text-block
        p Я принимаю условия #[a(href="#" class="link") Пользоваського соглашения]
    .form-input
      input.button(type="button" value="отправить заявку")


div(id="modalProduct" class="modal-fancy modalProduct" style="display:none")
  .img
    img(src="images/modal-prod.jpg" alt="product")
  .wrapp
    h3 Лестницы
    span.price от #[span(class="big") 80 000] руб.
    span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    ul
      li • Sunt in culpa qui officia deserunt mollit anim id est laborum.
      li • Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      li • Incididunt ut labore et dolore magna aliqua.
    span.text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum


div(id="modalReview" class="modal-fancy modalReview" style="display:none")
  h3 Отзыв
  form
    .form-input
      input(type="text" placeholder="Имя")
    .form-input
      textarea(name="", cols="30", rows="10" placeholder="Отзыв")
    .check-block
      .check
        input(type="checkbox")
        b
      .text-block
        p Я принимаю условия #[a(href="#" class="link") Пользоваського соглашения]
    .form-input
      input.button(type="button" value="Отправить")

div(id="modalPolit" class="modal-fancy modalPolit" style="display:none")
  h3 Политика
  span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod sapiente voluptate maxime ex rerum, perferendis excepturi. Porro delectus cumque aspernatur vero veniam, praesentium ducimus eos omnis magni eius quasi eveniet.
  