$font1: "Geometria",
sans-serif;
$font2: 'Gotham Pro',
sans-serif;

a {
	text-decoration: none;
}
.arrow-link{
	position: relative;
	display: flex;
	align-items:center;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	text-transform: uppercase;
	/* акцент синий */
	color: #2A68FB;
	margin-top: 25px;
	cursor: pointer;
	&:after{
		content: '';
		background:center / auto url(../img/blue-arrow.svg) no-repeat;
		width: 22px;
		height: 8px;
		margin-left: 12px;
	}
}
body {
	margin: 0;
	color: #3b3b3b;
	background: #ffffff;
	font-family: $font1;
	font-size: 16px;
}
h2{
	font-family: Geometria;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 125%;
	/* or 44px */

	text-align: center;

	/* основной темный */

	color: #2A2D34;
}
.btn-order{
	display: block;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 6px;		
	width: 135px;
	margin: 0 auto;	
	font-weight: 500;
	font-size: 16px;
	line-height: 29px;
	text-align: center;	
	color:#fff;
	cursor: pointer;
}
.btn-details{
	display: block;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}
.container {
	box-sizing: border-box;
	width: 1240px;
	max-width: calc(100% - 32px);
	margin: 0 auto;
	margin: 0 auto;
	@media screen and (max-width:1367px){
		max-width: calc(100% - 136px);
	}
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

.btn {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 24px;
	border-radius: 6px;
	font-family: $font2;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	font-style: normal;

	font-weight: 500;
	&--blue {
		color: #FFFFFF;
		background: #2A68FB;
	}
}

.description-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 100px;
	margin-bottom: 96px;
	.item{
		flex: 1 0 33%;
		&:nth-child(1){
			max-width: 273px;
			span{
				font-size: 35px;
				line-height: 125%;
				font-weight: 500;
				color: #2A2D34;
			}
		}
		&:nth-child(2){
			max-width: 440px;
			margin: auto;
			margin-left: 80px;
			span{
				font-size: 16px;
				line-height: 150%;
				color: #2A2D34;
			}
		}
		&:nth-child(3){
			max-width: 295px;
			span{
				display: block;
				font-weight: 500;
				font-size: 16px;
				line-height: 150%;
			}
			.red{
				font-size: 20px;
				line-height: 125%;
				font-weight: bold;
				color: #FF6157;
				margin-bottom: 27px;
			}
			a{
				position: relative;
				display: flex;
				align-items:center;
				font-weight: bold;
				font-size: 16px;
				line-height: 150%;
				/* or 24px */
				text-transform: uppercase;
				/* акцент синий */
				color: #2A68FB;
				margin-top: 25px;
				cursor: pointer;
				&:after{
					content: '';
					background:center / auto url(../img/blue-arrow.svg) no-repeat;
					width: 22px;
					height: 8px;
					margin-left: 12px;
				}
			}
		}
	}
	.description-bottom-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 80px;
		border: 15px solid #DEE2EA;
		box-sizing: border-box;
		padding: 45px 81px;
		.description-item{
			position: relative;
			flex: 0 0 auto;
			max-width: 25%;
			box-sizing: border-box;
			span{
				&:nth-child(1){
					font-weight: 500;
					font-size: 50px;
					line-height: 125%;
					/* or 62px */
					/* акцент синий */
					color: #2A68FB;
				}
				&.lit-span{
					font-weight: 500;
					font-size: 32px;
					/* акцент синий */
					color: #2A68FB;
				}
				&:nth-child(3){
					display: block;
					margin-top: 15px;
					font-weight: 500;
					font-size: 16px;
					line-height: 150%;
					/* or 24px */
					/* основной темный */
					color: #2A2D34;
				}
			}
			&:after{
				content:'';
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -57px;
				display: block;
				width: 1px;
				height: 114px;
				background: #DEE2EA;
			}
			&:nth-child(1){
				padding-right: 45px;
    		width: 21%;
			}
			&:nth-child(2){
				padding-left: 67px;
				padding-right: 60px;
				width: 28%;
				max-width: 30%;
			}
			&:nth-child(3){
				padding-left: 64px;
				padding-right: 7px;
				width: 32%;
				max-width: 32%;
			}
			&:last-child{
				padding-left: 73px;
				width: 18%;
				&::after{
					display: none;
				}
			}
		}
	}
}
.production-block{
	.grid-block{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 189px);
		grid-gap: 20px;
		margin-top: 60px;
		margin-bottom: 104px;
		.grid-item{
			display: flex;
			justify-content: center;
			align-items:center;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			.heading{
				font-weight: 500;
				font-size: 20px;
				line-height: 125%;
				color:#fff;
				box-sizing: border-box;
				padding:5px 10px;
				background: #2A68FB;
				transition: all .5s;
				max-width: calc(100% - 81px);
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.hover-block{
				position: absolute;
				left: 0;
				top: 0;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				width: 100%;
				height: 100%;
				background: #2A68FB;
				transition: all .5s;
				transform: translate(0,100%);
				span{
					font-size: 20px;
					line-height: 125%;
					/* or 25px */
					text-align: center;
					/* белый */
					color: #FFFFFF;
					display: block;
					&.big{
						font-weight: bold;
						display: inline;
					}
				}
			}
			@media screen and (min-width:780px){
				&:hover{
					.hover-block{
						transform: translate(0);
					}
					.heading{
						transform: scale(0);
					}
				}
			}
		}
	}
}

.services-block{
	display: flex;
	margin-bottom: 104px;
	.left-item{
		width: 315px;
		flex-shrink: 0;
		box-sizing: border-box;
		padding-right: 50px;
		h2{
			text-align: left;
			padding-right: 10px;
		}
		.arrow-block{
			position: relative;
			background:#FF6157;
			box-sizing: border-box;
			padding: 12px 24px;
			margin-top: 70px;
			
			span{
				font-size: 16px;
				line-height: 135%;
				color:#fff;
				display: block;
				&:nth-child(1){
					text-transform: uppercase;
				}
			}
			&:before,&:after{
				content:'';
				right: -40px;
				position: absolute;
				display: block;
				width: 68px;
				background:#fff;
				border-top:33px solid #fff;
			}
			&:before{
				top: 0;
				transform: rotate(56deg);
			}
			&:after{
				bottom: 0;
				transform: rotate(-56deg);
			}
		}
	}
	.responsive{
		background-color:#F0F3F8;
		padding: 25px 50px 40px 50px;
		box-sizing: border-box;
		.slice-item{
			position: relative;
			box-sizing: border-box;
			padding-right: 48px;
			&:nth-child(2){
			padding-left: 26px;
			padding-right: 22px;
			&:after{margin-right: -14px;}
			}
			&:last-child{
				margin-left: -14px;
				padding-left: 62px;
				padding-right: 0;
				&:after{display: none;}
			}
			&:after{
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -92px;
				margin-right: 22px;
				display: block;
				width: 1px;
				height: 187px;
				background: #DBDFE9;
			}
		.arrow-link{
			margin-top: 15px;
		}
			span{
				display: block;
				font-weight: 500;
				font-size: 16px;
				line-height: 125%;
				color: #2A2D34;
				margin-top: 74px;
				&.red{
					display: inline;
					color:#FF6157;
				}
			}
		}
	}
}

.project-block{
	.responsive-2{
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
		align-items:center;
		justify-content: center;
		margin-top: 44px;
		.item{
			height: 378px;
			margin: 10px;
			margin-bottom: 32px;
			.content-block{
				height: 100%;
				width: 250px;
				background: rgba(26, 30, 41, 0.8);
				box-sizing: border-box;
				padding: 64px 40px 48px 32px;
				.client{
					font-weight: 500;
					font-size: 12px;
					line-height: 125%;
					/* or 15px */


					/* белый */

					color: #FFFFFF;
					display: block;
					margin-bottom: 4px;
				}
				.name{
					font-weight: bold;
					font-size: 16px;
					line-height: 150%;
					/* or 24px */


					/* голубой */

					color: #00A7FF;
					display: block;
				}
				.work{
					position: relative;
					list-style: none;
					margin: 15px 0;
					li{
						display: flex;
						align-items:center;
						font-size: 16px;
						line-height: 180%;
						/* or 29px */
						
						
						/* белый */
						
						color: #FFFFFF;
						&:before{
							content: '';
							display: block;
							width: 6px;
							height: 6px;
							border-radius:3px;
							background: #00A7FF;
							margin-right: 11px;
							flex-shrink: 0;
						}
					}
				}
				.time{
					font-size: 16px;
					line-height: 180%;
					/* or 29px */


					/* белый */

					color: #FFFFFF;
				}
				.review{
					font-weight: 500;
					font-size: 16px;
					line-height: 150%;
					/* or 24px */


					/* голубой */

					color: #00A7FF;
					display: block;
					margin-top: 65px;
				}
			}
		}
		.slick-dots{
			list-style: none;
			display: flex;
			justify-content: center;
			align-items:center;
			order: 2;
			li{
				margin: 15px;
				display: flex;
				justify-content: center;
				align-items:center;
			}
			.slick-active{
				background: left center / auto url(../img/dote.svg) no-repeat;
				width: 20px;
				height: 20px;
				button{
					background: #2A68FB;
				}
			}
			button{
				width: 12px;
				height: 12px;
				border-radius:6px;
				padding: 0;
				border:none;
				color:transparent;
				background: #DEE2EA;
			}
		}
		.slick-arrow{
			bottom: 0;
			padding: 0;
			margin: 0;
			border:none;
			color:transparent;
			background: center / auto url(../img/slick-arrow-2.svg) no-repeat;
			width: 37px;
			height: 10px;
			&.slick-disabled{
				opacity: 0.5;
			}
			&.slick-prev{
				left: 0;
				transform: rotate(-180deg);
				order: 1;
				margin-right: 16px;
			}
			&.slick-next{
				right: 0;
				order: 3;
				margin-left: 16px;
			}
		}
	}
}

.brand-block{
	background: #F0F3F8;
	margin-top: 90px;
	padding-top: 75px;
	padding-bottom: 90px;
	margin-bottom: 104px;
	.container{
		position: relative;
		display: flex;
		.responsive-3{
			position: static;
			display: flex;
			flex-wrap: wrap;
			max-width: 890px;
			.item{
				position: relative;
				min-width: 177px;
				height: 113px;
				display: flex;
				align-items:center;
				justify-content: center;
				&:after{
					content: '';
					position: absolute;
					right: 0;
					top:50%;
					display: block;
					height: 113px;
					margin-top: -56.5px;
					width: 1px;
					background: #CDD2DF;
				}
				img{
					display: block;
					padding: 0 50px;
				}
				&:first-child{
					img{
						padding-left: 0;
					}
				}
			}
			.slick-arrow{
				position: absolute;
				right: 0;
				bottom: -18px;
				padding: 0;
				margin: 0;
				border:none;
				color:transparent;
				background: center / auto url(../img/arrow-blue.svg) no-repeat;
				width: 62px;
				height: 18px;
				&.slick-disabled{
					opacity: 0.5;
				}
				&.slick-prev{
					right: 92px;
					background: center / auto url(../img/arrow-black.svg) no-repeat;
				}
				&.slick-next{
					right: 0;
				}
			}
		}
		h2{
			text-align: right;
		}
	}
}









@media screen and (max-width:1367px){
	.description-block {
		margin-top: 90px;
		margin-bottom: 85px;
		.item{
			&:nth-child(1) {
				span{
					font-size: 30px;
				}
			}
			&:nth-child(2) {
				margin-left: 43px;
				max-width: 440px;
				margin-top: 5px;
				span{
					font-size: 15px;
				}
			}
			&:nth-child(3) {
				span{
					font-size: 15px;
					line-height: 155%;
				}
				.red{
					margin-bottom: 18px;
					font-size: 18px;
				}
				a{
					margin-top: 18px;
					font-size: 15px;
				}
			}
		}
		.description-bottom-block{
			margin-top: 55px;
			padding: 41px 73px;
			border: 12px solid #DEE2EA;
			.description-item{
				span{
					&:nth-child(1){
						font-size: 45px;
					}
					&.lit-span{
						font-size: 27px;
					}
					&:nth-child(3){
						font-size: 15px;
					}
				}
				&:nth-child(1){
					padding-right: 50px;
				}
			}
		}
	}
	.production-block .grid-block{
		grid-template-rows: repeat(3,183px);
		grid-gap:30px;
		margin-top: 40px;
	}
	.production-block .grid-block .grid-item .heading{
		font-size: 18px;
	}
	.production-block .grid-block{
		margin-bottom: 88px;
	}
	.services-block .left-item h2{
		font-size: 30px;
		padding-right: 22px;
		line-height: 120%;
	}
	.services-block .left-item .arrow-block{
		margin-top: 63px;
		padding: 12px 18px;
		span{
			font-size: 15px;
		}
	}
	.services-block .left-item{
		width: 239px;
		padding-right: 0;
	}
	.services-block{
		justify-content: space-between;
		margin-bottom: 80px;
	}
	.services-block .responsive{
		padding: 50px 50px 40px 50px;
	}
	.services-block .responsive .slice-item span{
		margin-top: 30px;
		font-size: 15px;
	}
	.services-block .responsive .slice-item .arrow-link{
		margin-top: 20px;
		font-size: 15px;
	}
	.project-block .responsive-2{
		margin-top: 27px;
		margin-left: -15px;
		margin-right: -15px;
		.item{
			margin: 15px;
			height: 342px;
			margin-bottom: 20px;
			.content-block{
				width: 245px;
				padding: 55px 40px 40px 32px;
				.name{
					font-size: 15px;
					line-height: 155%;
				}
				.work{
					li{
						font-size: 15px;
					}
				}
			}
		}
	}
	.brand-block{
		margin-top: 77px;	
		padding-top: 55px;
		padding-bottom: 80px;
		.container{
	
		h2{
			font-size: 30px;
			line-height: 145%;
		}
		.responsive-3{
			.slick-arrow{
				bottom: -16px;
				width: 54px;
				height: 16px;
				background-size:cover;
				&.slick-prev{
					right: 83px;
					background-size:cover;
				}
			}
		}
		}
	}
}
@media screen and (max-width:1315px){
	.services-block {
		flex-direction: column;
	}
	.services-block .left-item{
		margin-bottom: 20px;
	}
}

@media screen and (max-width:1200px){
	.brand-block .container{
		flex-direction: column;
		h2{
			order: 0;
			text-align: left;
			margin-bottom: 20px;
		}
		.responsive-3{
			order: 1;
			.item{
				&:after{
					height: 45px;
					margin-top: -22.5px;
				}
			}
			.slick-arrow{
				bottom: -40px;
				&.slick-prev{
					left: 50%;
					margin-left: - 81px;
				}
				&.slick-next{
					right: 50%;
					margin-right: - 81px;
				}
			}
		}
	}
	.description-block .item:nth-child(2){
		margin-left: 0;
	}
	.production-block{ 
		.grid-block{
			grid-gap:10px;
			.grid-item{
				.heading{
					max-width: calc(100% - 30px);
				}
			}
		}
	}
}
@media screen and (max-width:900px){
	.services-block .left-item {
		width: 100%;
		max-width: none;
		margin-bottom: 16px;
		h2{
			font-size: 26px;
			padding: 0;
		}
	}
	.services-block .left-item .arrow-block{
		margin-top: 32px;
		&:before,&:after{
			display: none;
		}
		span{
			font-size: 14px;
			text-align: center;
		}
	}
	.services-block .responsive .slice-item .arrow-link{
		&:after{
			display: none;
		}
	}
}
@media screen and (max-width:1180px){
	.description-block .item:nth-child(1){
		max-width: none;
	}
	.description-block .item:nth-child(2){
		display: none;
	}
	.description-block {
		.description-bottom-block {	
			padding: 32px 30px;
			.description-item{
				&:nth-child(1){
					width: 50%;
					max-width: 50%;
					padding: 0;
					padding-right: 10px;
				}
				&:nth-child(2){
					width: 50%;
					max-width: 50%;
					padding: 0;
					padding-left: 30px;
					&:after{
						display: none;
					}
				}
				&:nth-child(3){
					width: 50%;
					max-width: 50%;
					padding: 0;
					margin-top: 44px;
					padding-right: 10px;
				}
				&:nth-child(4){
					width: 50%;
					max-width: 50%;
					padding: 0;
					padding-left: 30px;
					margin-top: 44px;
				}
			}
		}
	}
}

@media screen and (max-width:780px){
	.description-block{
		margin-top: 30px;
		margin-bottom: 50px;
		.item{
			&:nth-child(3){
				order: 2;
				margin-top: 40px;
				margin-left: 30px;
				.red{
					margin-bottom: 12px;
				}
				span{
					.string{
						display: inline;
					}
				}
				a{
					font-size: 14px;
					margin-top: 24px;
				}
			}
		}
		.description-bottom-block{
			order: 1;
			margin-top: 26px;
			border: 6px solid #DEE2EA;
			padding: 25px;
		}
	}
	.description-block .item:nth-child(1) span{
		font-size: 26px;
		&.mobile{
			display: block;
		}
	}
	.description-block .description-bottom-block .description-item {
		&:after{
			margin-top: -40px;
			height: 80px;
		}
		span{
			&:nth-child(1){
				font-size: 40px;
			}
			&.lit-span{
				font-size: 20px;
			}
			&.bot-span{
				margin-top: 3px;
			}
		}
		&:nth-child(1),&:nth-child(3){
			max-width: none;
			width: 54%;
		}
		&:nth-child(2),&:nth-child(4){
			max-width: none;
			width: 46%;
		}
		&:nth-child(3),&:nth-child(4){
			margin-top: 25px;
		}
	}
	.production-block .grid-block {
		display: flex;
		flex-direction: column;
		.grid-item{
			margin-bottom: 4px;
			flex-direction: column;
			height: 48px;
			justify-content: space-between;
			background-size: 100% calc(100% - 163px)!important;
			background-position: left 30%!important;
			transition: all 0.5s;
			.heading{
				position: relative;
				max-width: none;
				display: flex;
				width: 100%;
				background-color: #F0F3F8;
				color: #2A2D34;
				font-weight: 500;
				font-size: 15px;
				line-height: 125%;
				padding: 15px 30px;
				justify-content: space-between;
				align-items:center;
				&:after{
					content: "";
					display: block;
					width: 15px;
					height: 6px;
					background:center / cover url(../img/after-mobile.svg) no-repeat;
				}
			}
			.hover-block{
				top: auto;
				bottom: 0;
				transform: translate(0, 100%);
				flex-direction: row;
				flex-wrap: wrap;
				box-sizing: border-box;
				padding: 16px 30px;
				align-items:center;
				height: 115px;
				span:nth-child(1){
					width: 100%;
					text-align: left;
					font-size: 15px;
					font-weight: 400;
					.big{
						font-size: 23px;
						font-weight: 700;
						margin: 0 6px;
					}
				}
				.btn-order{
					margin-left: 0;
					margin-top: 9px;
					margin-right: 32px;
					width: 126px;
					font-size: 14px;
				}
				.btn-details{
					margin-top: 8px;
					margin-right: auto;
				}
			}
			&.active{
				height: 359px;
				.hover-block{
					position: relative;
					transform: translate(0, 0);
				}
			}
		}
	}
	h2{
		font-size: 26px;
		text-align: left;
	}
	.services-block .responsive .slice-item:after{
		display: none;
	}
	.slick-prev, .slick-next{
		position: absolute;
		width: 10px;
		height: 22px;
		border:none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background: center / auto url(../img/slick-arrow.svg) no-repeat;
		color: transparent;
		top:50%;
		margin-top: -11px;
	}
	.slick-prev{
		left: 21px;
	}
	.slick-next{
		right: 21px;
		transform: rotate(180deg);
	}
	.services-block .responsive .slice-item{
		padding: 0!important;
		margin: 0!important;
		img{
			display: block;
			width: 24vw;
			margin: 0 auto;
		}
	}
	.services-block .responsive {
    padding: 28px 50px 18px 50px;
	}
	.production-block .grid-block{
		margin-bottom: 50px;
	}
	.services-block .left-item .arrow-block{
		margin-top: 26px;
	}
	.services-block .responsive .slice-item span{
		text-align: center;
		margin-top: 12px;
	}
	.services-block .responsive .slice-item .arrow-link{
		background: #2F80ED;
		border-radius: 6px;
		font-weight: 500;
		font-size: 14px;
		text-transform: none;
		line-height: 150%;
		margin: 0 auto;
		margin-top: 22px;
		padding: 0 10px;
		box-sizing: border-box;
		color:#fff;
		width: 126px;
		height: 33px;
		justify-content: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.services-block{
		margin-bottom: 35px;
	}
	.project-block .responsive-2{
		margin-top: 10px;
		.slick-next, .slick-prev{
			position: relative;
		}
		.slick-next{
			transform: rotate(0);
		}
	}
	.project-block .responsive-2 .item{
		position: relative;
		height: 197px;
		margin-bottom: 0;
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 8px;
			top: 8px;
			width: 22px;
			height: 22px;
			background: center / auto url(../img/more-photo.svg) no-repeat;
		}
		.content-block{
			width: 187px;
			padding: 24px 20px 24px 12px;
			.name{
				font-size: 14px;
				line-height: 140%;
			}
			.work{
				display: none;
			}
			.time{
				font-size: 13px;
				line-height: 180%;
				margin-top: 20px;
			}
			.review{
				font-size: 14px;
				line-height: 150%;
				margin-top: 34px;
			}
		}
	}
	.project-block .responsive-2 .slick-dots{	
		li{
			margin: 10px;
			flex-shrink: 0;
		}
	}

	.brand-block{
		background:#fff;
		margin-top: 0px;
		margin-bottom: 0;
		padding-top: 53px;
		padding-bottom: 60px;
		.container{
			position: static;
			h2{
				display: block;
				font-size: 26px;
				line-height: 125%;
				max-width: 285px;
				margin-bottom: 22px;
			}
			.responsive-3{
				position: relative;
				background: #F0F3F8;
				padding: 24px 0 54px;
				.item{
					height: 50px;
					img{
						height: 50px;
						width: auto;
					}
				}
				.slick-arrow{
					top: auto;
					bottom: 15px;
					width: 37px;
					height: 10px;
					&.slick-next{
						transform: rotate(0);
						margin-right: -43.5px;
					}
					&.slick-prev{
						transform: rotate(0);
						margin-left: -43.5px;
					}
				}
			}
		}
	}
}
@media screen and (max-width:540px){
	.brand-block .container .responsive-3 .item{
		min-width: auto;
	}
	.brand-block .container .responsive-3 .item img{
		padding: 0;
		max-width: 80%;
	}
}
@media screen and (max-width:370px){
	.description-block .description-bottom-block{
		padding: 12px;
	}
	.description-block .description-bottom-block .description-item:nth-child(2), .description-block .description-bottom-block .description-item:nth-child(4){
		padding-left: 12px;
	}
	.production-block .grid-block .grid-item .hover-block{
		padding: 10px;
	}
}